<% if user_signed_in? %>
    <div class="calendar" id="calendar">
        <%= month_calendar(events: @events) do |date, events| %>
            <div class="days">
                <%= date.day %>

                <% events.each do |event| %>
                    <% if current_user.id == event.user_id %>
                        <div class="event-title">
                            <%= event.start_time.strftime('%H:%M') %>
                            <%= link_to event.title, event_path(event), class: "event-name" %>
                        </div>
                    <% end %>
                <% end %>
            </div>
        <% end %>
    </div>
<% end %>