
<div class="memo-area", id="memo-area">
    <%= form_with(model: @post, local: true) do |f| %>
        <div class="memo-box">
            <h1>Title:<h1>
            <div class="memo-title">
                <%= f.text_area :title, class: "create-memo-title" %>
            </div>
                    
            <h1>Body:</h1>
            <div class="memo-textarea">
                <%= f.text_area :body, class: "create-memo-body" %>
            </div>

            <div class="memo-btn">
                <%= f.submit '保存', class: 'actions-btn' %>
                <button class="actions-btn">中止</button>
            </div>
        </div>
    <% end %>
</div>
