
<div class="wrapper">
    <%= render "header" %>
        
    <div class="body-content">
        <div class="left-side">
            <%= render "left_memo" %>
        </div>

        <div class="right-side">
            <%= render "memo_area" %>
        </div>
    </div>
</div>