html, body {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

/* header-area */
.header-content {
    height: 70px;
    border-bottom: 1px solid #778899;
    opacity: 0.6;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #9ec34b;
    font-family: STXingkaiSC-Light;
    font-weight: bold;
    font-size: 50px;
    display: inline;
    margin: 0 0 10px 20px ;
}

.icon-area {
    display: flex;
}

.icon-btn {
    margin: 10px 20px;
    height: 30px;
}

.material-icons {
    cursor: pointer;
}

abbr[title], acronym[title] {
    border-bottom-width: 0;
  }


.face-btn:hover {
    background-color: red;
    opacity: 0.5;
}

.navbar {
    height: 200px;
    width: 150px;
    position: absolute;
    right: 30px;
    top: 70px;
    border-radius: 10px;
    padding: 20px 0 0 50px;
    box-shadow: 5px 5px 10px , -5px -5px 10px #AAAAAA;
    display: none;
}

.nav-lists>li {
    font-size: 25px;
    margin-bottom: 10px;
}
/* end */

.body-content {
    height: calc(100vh - 70px);
    display: flex;
}

.right-side {
    width: (100vw - 250px);
}


/* crate-room-area */
.memo-area {
    display: none;
}

.memo-box {
    height: 40rem;
    width: 50rem;
    margin: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid#AAAAAA;
}

.create-memo-title {
    height: 50px;
    width: 400px;
    font-size: 30px;
    text-align: center;
}

.create-memo-body {
    height: 300px;
    width: 45rem;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    overflow: scroll;
}
/* end */

/* left-side */
.left-side {
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-right: 1px solid#AAAAAA;
    width: 250px;
}

.room {
    font-size: 30px;
    margin: 10px 0;
}

.room:hover {
    opacity: 0.5;
    background-color: #AAAAAA;
}

.room-title {
    text-decoration: none;
    color: #000000;
}
/* end */
/* show */
.show-content {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-area {
    width: 50rem;
    height: 45rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.show-area, .show-memo-title, .show-memo-textarea, .edit-memo-textarea, 
.memo-box, .create-memo-title, .create-memo-body,
.event-form, .form-event, .details {
    box-shadow: 1px 1px 5px 1px #999;
}

.show-memo-title {
    height: 50px;
    width: 400px;
    font-size: 30px;
    text-align: center;
}

h1 {
    margin-top: 20px;
    font-size: 20px;
}

.show-memo-textarea, .edit-memo-textarea {
    height: 100%;
    width: 45rem;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px ;
    overflow: scroll;
}

::-webkit-scrollbar {
    display:none;
}

.memo-show-btn {
    margin: 10px 0;
}

.edit-textarea {
    height: 100%;
    margin-bottom: 20px;
}
/* end */
/* link-css */
.link-style {
    text-decoration: none;
    color: #000000;
}

.links-btn-area {
    padding-top: 7px;
    margin-bottom: 10px;
    height: 40px;
    width: 200px;
    border: 1px solid #AAAAAA;
    border-radius: 10px;
    background-color: white;
}

.links-btn-area:hover {
    opacity: 0.5;
    background-color: #AAAAAA;
}
/* end */