<div class="header-content">
    <div class="header">
        <div class="logo">
            MemoSuke
        </div>

        <div class="icon-area">
            <div class="icon-btn">
                <button class="material-icons search-btn">search</button>
            </div>

            <div class="icon-btn">
                <button class="material-icons add-btn">add</button>
            </div>

            <div class="icon-btn">
                <button class="material-icons face-btn">face</button>
            </div>

            <div class="navbar">
                <ul class="nav-lists">
                    <li>shuhei<%#= @user.name %></li>
                    <li>詳細</li>
                    <li>編集</li>
                    <li>ログアウト</li>
                </ul>
            </div>
        </div>
    </div>
</div>