<% if user_signed_in? %>
    <div class="left-side">
        <% @memos.each do |memo|%>
            <% if current_user.id == memo.user_id  %>
                <div class="room">
                <%= link_to memo.title, memo_path(memo), class: "room-title" %>
                </div>
            <% end %> 
        <% end %>
    </div>
<% end %>