<div class="wrapper">
    <div class="header-content">
        <div class="header"></div>
    </div>
        
    <div class="body-content">
        <div class="left-side"></div>

        <div class="main"></div>

        <div class="right-side">
            <div class="calendar"></div>
        </div>
    </div>
</div>