<%= form_with(model: @memo, local: true) do |f| %>
    <div class="memo-title">
        <%= f.text_area :title %>
    </div>

    <div class="memo-textarea">
        <%= markdown(@memo.content).html_safe %>
    </div>

     <div class="memo-btn">
        <button class="form-submit"><%= link_to 'Destroy', memo_path(@memo.id), method: :delete, class: "select-btn", data: { confirm: '削除してもよろしいですか?' } %></button>
    </div>
<% end %>

